{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
{% if request.path == '/projects' %} class="active" {% endif %}
{% if request.path == '/' %}

<li><a href="{% url 'shorten-url' %}">ADD link</a></li>
<img src="{% static 'images/urlitfull.png' %}" alt="">
    
{% endif %}
<div class="all_cards">
    {% for user in urls %}
    <div class="urls">
        <h1>{{ user.name }}</h1>
        <a href="{{ user.url_link }}"><h2>{{ user.url_link }}</h2></a>
        <h2><a href="">{{ user.short_code }}</a></h2>
        <a href="{% url 'delete' user.id %}">DELETE</a>
    </div>
    {% endfor %}  
</div>
{% endblock content %}