{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}


{% if request.path == '/projects' %} class="active" {% endif %}

<br><br>
<div class="center">
    <a href="{% url 'shorten-url' %}"><button class="learn-more">ADD link</button></a>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<div class="all_cards">
    {% for user in urls %}
    <div class="urls">
        <a href="{{ user.url_link }}"><h2>{{ user.url_link |truncatechars:25 }}</h2></a>
        <h2><a href="{% url 'redirect' user.short_code %}">{{ user.short_code }}</a></h2>
            <a href="{% url 'delete' user.id %}"><button class="learn-more">DELETE</button></a>
    </div>
    {% endfor %}  
</div>


{% endblock content %}